
header {
    min-height: 100vh;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position:absolute;
    top: 0;
    left: 0;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.img_logo {
    width: 90%;
}

@media (max-width: 973px) { 

    #mainNav {
        background-color: rgba(0, 0, 0, 0.84);
    }
    header {
        min-height: auto;
    }
    .img_logo {
        width: 50%;
    }

    video {
        padding-top: 83px;
    }

    .masthead {
        padding-top: 175px;
    }
 }

